.container{
    margin: 1rem;
    border: 3px solid black;
    border-radius: 1rem ;
    padding: 1.3rem;
    position: relative;
}
.container-login{
   width: 50vw;
   height: 50vh;
}
.box-login{
  display: flex;
  align-items: center;
  justify-content: center;
    
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }


  
  .child {
    width: 50px;
    height: 50px;
    background-color: red;
    /* Centralizar na vertical e na horizontal */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; /* aplique margens superior e esquerda negativas para centralizar de verdade o elemento */
  }